* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: lightgray;
    font-family: 'Quicksand', sans-serif; 
    font-size: 18px; 
}


/* HEADER */
.head {
    padding: 15px;
    background-color: white;
}

.logo {
    vertical-align: middle;
}


/* CONTAINER */
.conteiner {
    width: 1170px;
    max-width: 1170px;
    background-color: white;
    margin: 25px auto;
    border-radius: 5px;
}

section {
    margin-left: 35px;
}

.toplist {
    padding: 15px;
}

/* BUTTON ADD */
.add{
    vertical-align: middle;
    padding: 6px;
    border-radius: 5px;
}

.add-blue {
    background-color: dodgerblue;
    color: white;
}

.add-opacity {
    border: 1px solid lightgray;
    margin-left: 10px;
    color: lightgray;
}

.todolist {
    margin-top: 25px;
}

/* INSERTION LIST */
li {
    list-style: none;
    margin: 15px 0px;
}

/* ICON CHECK */
.icon {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 11px;
    margin-right: 10px;
    color: green;
}

.icon-remove {
    color: red;
}

/* Bookmarks */
.mark {
    color: white;
    border-radius: 10px;
    padding: 5px;
    vertical-align: middle;
    font-size: 13px;
}

.mark-blue {
    background-color: dodgerblue;
}

.mark-purple {
    background-color: purple;
}

.mark-green {
    background-color: green;
}

.mark-orange {
    background-color: orange    ;
}

.mark-lime {
    background-color: lime;
}

.mark-pink {
    background-color: pink;
}